.mobile{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.mobileCard1{
    margin-left: 100px;
}

.mobileCard2{
    margin-right: 100px;
}









.protfolioAboout{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    /*background: #75dfe2;*/

/*background-image: url("https://scontent.fdac25-1.fna.fbcdn.net/v/t1.0-9/s960x960/79361411_611789059567513_3964577400611667968_o.jpg?_nc_cat=110&_nc_sid=05277f&_nc_ohc=TPmjB9qZwhIAX9TclXV&_nc_ht=scontent.fdac25-1.fna&_nc_tp=7&oh=8cc76031e4ae406f20a80fc00114ef1f&oe=5ED51D86");*/


    height: 600px;
    width: 100%;


}
.Cardp-broder{
    border: 1px solid #61dafb;
}


.protfolioAbooutImg{

    height:500px;
    width:600px;
}
.protfolioAbouT{
    margin-left:120px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
}


.button{
    width: 110px;
    height: 36px;
    /*background: rgba(24, 165, 226, 0.71);*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left:13px;
}

.ButtonM{
    margin-left:2px;
}
.hello{

 margin-bottom:-7px;
    color: #008080;

}
.web{
}

.ex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.ex2{
    margin-left:80px;
    margin-top:170px;
}

.D{
    margin-top:-25px;
    margin-left:15px;


}
.CardE{

    width:800px;
    height:150px;
    background: #ABEBC6 ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    margin:5px;
    margin-left:52px;
}



.e{
    margin-left:15px;
    margin-bottom:20px;


}

.p{
    margin-left:15px;
    margin-bottom:20px;


}


.Recent-Projects{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

}

.Recent-Projects2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom:20px;
}

.Recent-Projects3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    /*margin-top: 40px;*/
    margin-bottom: -80px;
    height: 150px;
}

.Recent-Projects4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 30px;
    margin-top: 15px;
}

.CardP{
    background:skyblue;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border-radius: 5px;


}

.CardP2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height:450px;

}

.profile2{
    background-color: #4CAF50; /* Green */
    border: none;

    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:38px;

    margin-top:30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


.title{

    color:#22A39F;


}


.skill-bar{

    margin: 60px 400px 50px 100px;

}

.skill{
    width:100%;
    height: 400px;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-content: stretch;*/


}


.educationLayout{
    background: rgba(24, 165, 226, 0.71);
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-left: 50px;
}

.educationCard{
    width:650px;
    height:150px;
    margin: 5px;
    margin-right: 10px;
}

.educationImage{

    height:500px;
    width:700px;
    background-image: url("https://scontent.fdac25-1.fna.fbcdn.net/v/t1.0-9/71315991_2260335267409512_598199866711080960_n.jpg?_nc_cat=102&_nc_sid=6e5ad9&_nc_ohc=GnXX-06E-SAAX9GTgK4&_nc_ht=scontent.fdac25-1.fna&oh=00b3b415368a9b96c1569bb80f154933&oe=5ED5CA89");
    /*background: #282c34;*/

}
.EducationTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 40px;
    margin-bottom: 30px;
}